################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/API.ReportsEngine/API.Domain/obj
/API.ReportsEngine/obj/*
