################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/API.ReportsEngine/API.Domain/bin
/API.ReportsEngine/API.Domain/obj

/API.ReportsEngine/API.Application/bin
/API.ReportsEngine/API.Application/obj

/API.ReportsEngine/API.Infrastructure/bin
/API.ReportsEngine/API.Infrastructure/obj

/API.ReportsEngine/API.ReportsEngine/bin
/API.ReportsEngine/API.ReportsEngine/obj

/API.MicroservicioExample1/Domain/bin
/API.MicroservicioExample1/Domain/obj

/API.MicroservicioExample1/Application/bin
/API.MicroservicioExample1/Application/obj

/API.MicroservicioExample1/Infrastructure/bin
/API.MicroservicioExample1/Infrastructure/obj

/API.MicroservicioExample1/MicroservicioExample1/bin
/API.MicroservicioExample1/MicroservicioExample1/obj

/API.MicroserviceExample2/API.Domain/bin
/API.MicroserviceExample2/API.Domain/obj

/API.MicroserviceExample2/API.Application/bin
/API.MicroserviceExample2/API.Application/obj

/API.MicroserviceExample2/API.Infrastructure/bin
/API.MicroserviceExample2/API.Infrastructure/obj

/API.MicroserviceExample2/API.MicroserviceExample2/bin
/API.MicroserviceExample2/API.MicroserviceExample2/obj

/API.ReportsEngine/.vs
/API.MicroservicioExample1/.vs/API.MicroservicioExample1/FileContentIndex
API.MicroservicioExample1/.vs/API.MicroservicioExample1/DesignTimeBuild/.dtbcache.v2


/API.ReportsEngine/.vs
/API.MicroservicioExample1/.vs/API.MicroservicioExample1/FileContentIndex

